.add-task {
  width: 100%;
}

.form {
  display: flex;
  align-items: baseline;
  gap: 20px;
  padding: 20px;
  background-color: @accent-light-green;
  border-radius: @radius;

  &__field {
    padding: 5px 15px;
    width: 60%;
    height: 40px;
    color: @black;
    border: 1px solid @accent-light-green;

    &:focus {
      border: 1px solid @dark-green;
      outline-color: @dark-green;
    }

    &::-webkit-input-placeholder,
    &::-moz-placeholder,
    &:-moz-placeholder,
    &:-ms-input-placeholder {
      color: @grey-placeholders;
    }
  }

  &__date {
    width: 110px;
  }

  &__label-file {
    position: relative;
    align-self: center;
    margin-left: auto;
    padding: 5px 7px;
    width: 40px;
    background-color: @dark-green;
    border-radius: @radius;
    border: 2px solid @dark-green;
    cursor: pointer;
    transition: .6s;
    box-sizing: border-box;

    & svg {
      width: 20px;
      height: 30px;
      cursor: pointer;

      & path {
        fill: @accent-light-green;
      }
    }

    &:hover {
      background-color: @accent-light-green;

      & span {
        color: @dark-green;
      }

      & svg {
        width: 20px;
        height: 30px;
        cursor: pointer;

        & path {
          fill: @dark-green;
        }
      }
    }
  }

  &__file {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    visibility: hidden;
    opacity: 0;
  }

  &__submit-btn {
    width: 200px;
    height: 50px;
    background-color: @accent-light-green;
    background-size: cover;
    border: 2px solid @dark-green;
    border-radius: @radius;
    cursor: pointer;
    transition: all .6s;

    &:hover {
      background-color: @dark-green;
      color: @accent-light-green;
      border-color: @accent-light-green;
    }
  }
}